<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to doohickeys_path %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
